services:
  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD:
      MYSQL_DATABASE: awsProject
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  app:
    image: sanojchaudhary/chat-api:latest
    pull_policy: always
    restart: always
    depends_on:
      - db
    ports:
      - "3000:3000"
    env_file:
      - .env

volumes:
  db_data:
